<?xml version="1.0"?>
<config>
    <modules>
        <HenryHayes_Merge>
            <version>1.0.0</version>
        </HenryHayes_Merge>
    </modules>
    <global>
        <helpers>
            <merge>
                <class>HenryHayes_Merge_Helper</class>
            </merge>
        </helpers>
        
        <blocks>
            <merge>
                <class>HenryHayes_Merge_Block</class>
            </merge>
        </blocks>
        
        <models>
            <merge>
                <class>HenryHayes_Merge_Model</class>
            </merge>
        </models>
        <fieldsets>
            <customer_account>
                <prefix>
                    <merge>empty</merge>
                </prefix>
                <firstname>
                    <merge>empty</merge>
                </firstname>
                <middlename>
                    <merge>empty</merge>
                </middlename>
                <lastname>
                    <merge>empty</merge>
                </lastname>
                <suffix>
                    <merge>empty</merge>
                </suffix>
                <email>
                    <merge>empty</merge>
                </email>
                <confirmation>
                    <merge>empty</merge>
                </confirmation>
                <dob>
                    <merge>empty</merge>
                </dob>
                <taxvat>
                    <merge>empty</merge>
                </taxvat>
                <gender>
                    <merge>empty</merge>
                </gender>
            </customer_account>
            <customer_address>
                <firstname>
                    <to_customer_address>*</to_customer_address>
                </firstname>
                <middlename>
                    <to_customer_address>*</to_customer_address>
                </middlename>
                <lastname>
                    <to_customer_address>*</to_customer_address>
                </lastname>
                <suffix>
                    <to_customer_address>*</to_customer_address>
                </suffix>
                <company>
                    <to_customer_address>*</to_customer_address>
                </company>
                <street>
                    <to_customer_address>*</to_customer_address>
                </street>
                <city>
                    <to_customer_address>*</to_customer_address>
                </city>
                <region>
                    <to_customer_address>*</to_customer_address>
                </region>
                <region_id>
                    <to_customer_address>*</to_customer_address>
                </region_id>
                <postcode>
                    <to_customer_address>*</to_customer_address>
                </postcode>
                <country_id>
                    <to_customer_address>*</to_customer_address>
                </country_id>
                <telephone>
                    <to_customer_address>*</to_customer_address>
                </telephone>
                <fax>
                    <to_customer_address>*</to_customer_address>
                </fax>
            </customer_address>
            <merge_entities>
                <customer>
                    <catalog_compare_item>
                        <module>Mage_Catalog</module>
                        <table>catalog_compare_item</table>
                        <model_entity>catalog/compare_item</model_entity>
                        <column>customer_id</column>
                        <is_fk>1</is_fk>
                    </catalog_compare_item>
                    <downloadable_link_purchased>
                        <module>Mage_Downloadable</module>
                        <table>downloadable_link_purchased</table>
                        <model_entity>downloadable/link_purchased</model_entity>
                        <column>customer_id</column>
                        <is_fk>1</is_fk>
                    </downloadable_link_purchased>
                    <gift_message>
                        <module>Mage_GiftMessage</module>
                        <table>gift_message</table>
                        <model_entity>giftmessage/message</model_entity>
                        <column>customer_id</column>
                        <is_fk>0</is_fk>
                    </gift_message>
                    <log_customer>
                        <module>Mage_Log</module>
                        <table>log_customer</table>
                        <model_entity>log/customer</model_entity>
                        <column>customer_id</column>
                        <is_fk>0</is_fk>
                    </log_customer>
                    <log_visitor_online>
                        <module>Mage_Log</module>
                        <table>log_visitor_online</table>
                        <model_entity>log/visitor_online</model_entity>
                        <column>customer_id</column>
                        <is_fk>0</is_fk>
                    </log_visitor_online>
                    <newsletter_subscriber>
                        <module>Mage_Newsletter</module>
                        <table>newsletter_subscriber</table>
                        <model_entity>newsletter/subscriber</model_entity>
                        <column>customer_id</column>
                        <is_fk>0</is_fk>
                    </newsletter_subscriber>
                    <oauth_token>
                        <module>Mage_Oauth</module>
                        <table>oauth_token</table>
                        <model_entity>oauth/token</model_entity>
                        <column>customer_id</column>
                        <is_fk>1</is_fk>
                    </oauth_token>
                    <persistent_session>
                        <module>Mage_Persistent</module>
                        <table>persistent_session</table>
                        <model_entity>persistent/session</model_entity>
                        <column>customer_id</column>
                        <is_fk>1</is_fk>
                    </persistent_session>

                    <poll_vote>
                        <module>Mage_Poll</module>
                        <table>poll_vote</table>
                        <model_entity>poll/poll_vote</model_entity>
                        <column>customer_id</column>
                        <is_fk>0</is_fk>
                    </poll_vote>

                    <product_alert_price>
                        <module>Mage_ProductAlert</module>
                        <table>product_alert_price</table>
                        <model_entity>productalert/price</model_entity>
                        <column>customer_id</column>
                        <is_fk>1</is_fk>
                    </product_alert_price>
                    <product_alert_stock>
                        <module>Mage_ProductAlert</module>
                        <table>product_alert_stock</table>
                        <model_entity>productalert/stock</model_entity>
                        <column>customer_id</column>
                        <is_fk>1</is_fk>
                    </product_alert_stock>

                    <rating_option_vote>
                        <module>Mage_Rating</module>
                        <table>rating_option_vote</table>
                        <model_entity>rating/rating_option_vote</model_entity>
                        <column>customer_id</column>
                        <is_fk>0</is_fk>
                    </rating_option_vote>
                    <report_compared_product_index>
                        <module>Mage_Reports</module>
                        <table>report_compared_product_index</table>
                        <model_entity>reports/compared_product_index</model_entity>
                        <column>customer_id</column>
                        <is_fk>1</is_fk>
                    </report_compared_product_index>
                    <report_viewed_product_index>
                        <module>Mage_Reports</module>
                        <table>report_viewed_product_index</table>
                        <model_entity>reports/viewed_product_index</model_entity>
                        <column>customer_id</column>
                        <is_fk>1</is_fk>
                    </report_viewed_product_index>
                    <review_detail>
                        <module>Mage_Review</module>
                        <table>review_detail</table>
                        <model_entity>review/review_detail</model_entity>
                        <column>customer_id</column>
                        <is_fk>1</is_fk>
                    </review_detail>

                    <sales_billing_agreement>
                        <module>Mage_Sales</module>
                        <table>sales_billing_agreement</table>
                        <model_entity>sales/billing_agreement</model_entity>
                        <column>customer_id</column>
                        <is_fk>1</is_fk>
                    </sales_billing_agreement>
                    <sales_recurring_profile>
                        <module>Mage_Sales</module>
                        <table>sales_recurring_profile</table>
                        <model_entity>sales/recurring_profile</model_entity>
                        <column>customer_id</column>
                        <is_fk>1</is_fk>
                    </sales_recurring_profile>

                    <salesrule_coupon_usage>
                        <module>Mage_SalesRule</module>
                        <table>salesrule_coupon_usage</table>
                        <model_entity>salesrule/coupon_usage</model_entity>
                        <column>customer_id</column>
                        <is_fk>1</is_fk>
                    </salesrule_coupon_usage>
                    <salesrule_customer>
                        <module>Mage_SalesRule</module>
                        <table>salesrule_customer</table>
                        <model_entity>salesrule/rule_customer</model_entity>
                        <column>customer_id</column>
                        <is_fk>1</is_fk>
                    </salesrule_customer>

                    <tag>
                        <module>Mage_Tag</module>
                        <table>tag_relation</table>
                        <model_entity>tag/relation</model_entity>
                        <column>first_customer_id</column>
                        <is_fk>1</is_fk>
                    </tag>
                    <tag_relation>
                        <module>Mage_Tag</module>
                        <table>tag_relation</table>
                        <model_entity>tag/relation</model_entity>
                        <column>customer_id</column>
                        <is_fk>1</is_fk>
                    </tag_relation>

                    <wishlist>
                        <module>Mage_Wishlist</module>
                        <table>wishlist</table>
                        <model_entity>wishlist/wishlist</model_entity>
                        <column>customer_id</column>
                        <is_fk>1</is_fk>
                    </wishlist>
                </customer>
            </merge_entities>
        </fieldsets>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <merge after="Mage_Adminhtml">HenryHayes_Merge_Adminhtml</merge>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <hh_merge>
                    <file>merge.xml</file>
                </hh_merge>
            </updates>
        </layout>
    </adminhtml>
</config>